* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

h1 {
  background-color: darkblue;
  color: #fff;
  text-align: center;
  flex: 1;
  line-height: 52px;
}

h2,
figcaption {
  margin: 10px 0;
  text-align: center;
}

nav {
  background-color: #fff;
  flex: 1;
}

ul {
  list-style-type: none;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
}

li {
  margin: 5px auto;
}

.container {
  background: radial-gradient(#bbb, #6a7885);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  margin-top: 80px;
  margin-bottom: 20px;
}

figure {
  background-color: #bbb;
  width: 200px;
  margin: 5px 5px;
  padding: 10px;
  border: 1px solid black;
  border-radius: 5px;
}

img {
  width: 100%;
  height: auto;
  border: 5px double black;
  border-radius: 50%;
}

footer {
  height: 20px;
  width: 100vw;
  position: fixed;
  bottom: 0;
  left: 0;
  background-color: darkblue;
  color: #fff;
  text-align: center;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 80px;
  display: flex;
  flex-direction: column;
}
